body {
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  letter-spacing: 0.1em;
}

.logo {
    width: 326px;
}

.sheets {
    width: 100%;
    height: 500px;
}

.links {
    display: block;
    max-width: 550px;
    margin: 0 auto 15px;
    margin-bottom: 5px;
    padding: 15px 20px;
    font-size: 0.95rem;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: black;
  }

  .links .links--light-yellow:hover {
    background-color: #fff;
  }
  
  .links .links--red:hover {
    background-color: #fff;
    color: #000;
  }
  
  .links .links--canyan:hover {
    background-color: #fff;
  }
  
  .links .links--light-canyan:hover {
    background-color: #fff;
  }
  
  .links .links--light-green:hover {
    background-color: #fff;
  }

  .links .links--green:hover {
    background-color: #fff;
  }
  
  .links .links--light-brown:hover {
    background-color: #fff;
  }
  
  .links .links--light-red:hover {
    background-color: #fff;
  }

  .links .links--violet:hover {
    background-color: #fff;
  }
  
  .links .links--orange:hover {
    background-color: #fff;
  }

  .links .links--grey {
    border-bottom: 3px solid #707070;
    box-shadow: inset 0 -4px 0 #707070;
    border-radius: 25px;
    border: 2px solid #707070;
    background-color: #707070;
    color: #fff;
  }
  
  .links .links--red {
    border-bottom: 3px solid #f00;
    box-shadow: inset 0 -4px 0 #f00;
    border-radius: 25px;
    border: 2px solid #f00;
    background-color: #f00;
    color: #fff;
  }
  
  .links .links--canyan {
    border-bottom: 3px solid #80d6ff;
    box-shadow: inset 0 -4px 0 #80d6ff;
    border-radius: 25px;
    border: 2px solid #80d6ff;
    background-color: #80d6ff;
  }
  
  .links .links--light-canyan {
    border-bottom: 3px solid #bedde8;
    box-shadow: inset 0 -4px 0 #bedde8;
    border-radius: 25px;
    border: 2px solid #bedde8;
    background-color: #bedde8;
  }
  
  .links .links--light-green {
    box-shadow: inset 0 -4px 0 #73e2a7;
    border-radius: 25px;
    border: 2px solid #73e2a7;
    background-color: #73e2a7;
  }

  .links .links--green {
    box-shadow: inset 0 -4px 0 #6f3;
    border-radius: 25px;
    border: 2px solid #6f3;
    background-color: #6f3;
  }
  
  .links .links--light-brown {
    border-bottom: 3px solid #ffc15e;
    box-shadow: inset 0 -4px 0 #ffc15e;
    border-radius: 25px;
    border: 2px solid #ffc15e;
    background-color: #ffc15e;
  }
  
  .links .links--light-yellow {
    border-bottom: 3px solid #fed766;
    box-shadow: inset 0 -4px 0 #fed766;
    border-radius: 25px;
    border: 2px solid #fed766;
    background-color: #fed766;
  }
  
  .links .links--light-red {
    border-bottom: 3px solid #fd8176;
    box-shadow: inset 0 -4px 0 #fd8176;
    border-radius: 25px;
    border: 2px solid #fd8176;
    background-color: #fd8176;
  }

  .links .links--violet {
    border-bottom: 3px solid #c39bd3;
    box-shadow: inset 0 -4px 0 #c39bd3;
    border-radius: 25px;
    border: 2px solid #c39bd3;
    background-color: #c39bd3;
  }
  
  .links .links--orange {
    border-bottom: 3px solid #f39c12;
    box-shadow: inset 0 -4px 0 #f39c12;
    border-radius: 25px;
    border: 2px solid #f39c12;
    background-color: #f39c12;
  }